:root {
  --primaryColor: #E1F2FE;
  --primaryDark: #98D2EB;
  --secondaryColor: #49392C
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

h3 {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

input {
  margin-top: 1em;
  border: 0;
  padding: 1em;
  width: 30%;
  min-width: 300px;
  color: var(--primaryDark);
}

p {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--secondaryColor);
}

.searchResultsContainer {
  max-width: 90vw;
}