:root {
  --primaryColor: #7788AA;
  --primaryDark: #2D4471;
  --secondaryColor: #FFEDCC;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primaryColor);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column;
}

input {
  border: 0;
  padding: 1em;
  width: 30%;
  min-width: 300px;
  color: var(--primaryDark);
}

p {
  font-weight: bold;
  font-size: 1.5em;
  color: var(--secondaryColor);
}

.searchResultsContainer {}